<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">


    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/images/rh-logo.png" width="100px" class="d-inline-block align-middle" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/products">Cool Stuff Store</a>
        </li>        
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/myFavourites">My Favourites</a>
        </li>
      </ul>

      <form class="d-flex">
        <ul class="nav navbar-nav navbar-utility">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/cart"><span class="fa fa-shopping-cart"></span>&nbsp;Cart
              <strong>{{getTotalCartValue() | currency}}</strong> ({{getItemsCountOfProductsInCart()}} item(s))</a>
          </li>
          <li>

            <div class="container" *ngIf="this.isUserAuthenticated">
              <a (click)="logout()" class=" nav-link login">Logout</a>
            </div>
            <div class="container" *ngIf="!this.isUserAuthenticated">
              <a (click)="authenticateUser()" class=" nav-link login">Login</a>
            </div>
            <!-- Creates the bootstrap modal where the image will appear -->
            <!-- <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1"
              role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" required formControlName="username" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                          <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" required formControlName="password" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <div style="float: left">
                      <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
                    </div>
                    <div>
                      <button type="submit" class="btn btn-success login-btn" (click)="login()"
                        [disabled]="!loginForm.valid">Log In!
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </li>
        </ul>
      </form>
    </div>
  </div>

</nav>