.checkout-btn {
    width: 80%
  }

.error {
  color: red;
}
  
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.btn-autofill {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 0.25rem;
}

.mt-10 {
  margin-top: 10px;
}