<div class="alert alert-danger" *ngIf="orderSubmissionError">
  An error has occured while placing the order. Please try later.
</div>

<div class="alert alert-danger"  *ngIf="!coolstoreCookiesService.user.isUserLoggedIn">
  Please login to place order.
</div>

<div class="container-fluid" *ngIf="itemsInCart.length == 0 && !(order && order.newOrderPlaced)">
      <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body cart">
            <div class="col-sm-12 empty-cart-cls text-center">
              <img src="../../assets/images/sad-cat.jpg" class="img-fluid mb-4 mr-3" />
              <h3><strong>Your Cart is Empty</strong></h3>
              <h4>Add something to make me happy :)</h4>

              <a routerLink="/products" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                shopping</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div  *ngIf="order && order.newOrderPlaced">
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
        <div class="container">
          <h4>Congratulations. Your order has been placed. </h4><h4> Your order id is: {{order.orderId}}</h4>
          <a routerLink="/products" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>

        </div>
      </div>
  </div>
  </div>
</div>


<div *ngIf="itemsInCart.length !== 0">

<div class="container-fluid">

    <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row g-5">
          <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex mb-3 mt-10">
              <span class="text-primary">Your cart</span> &nbsp;&nbsp;
              <span class="badge bg-primary rounded-pill">{{getTotalProductsQuantityInCart()}}</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let product of itemsInCart; let i = index">
                <div>
                  <h6 class="my-0" routerLink="/product-detail/{{ product.itemId }}">
                    {{ product.name }}
                  </h6>
                  <small class="text-muted">quantity: {{ product.quantity }}</small>
                </div>
                <span class="text-muted">{{ getTotalValueForItem(i) | currency }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>{{ getTotalCartValue() | currency }}</strong>
              </li>
              <li class="list-group-item d-flex justify-content-between" *ngIf="coolstoreCookiesService.user.isUserLoggedIn">
              <button class="w-100 btn btn-success btn-lg mt-10" [disabled]="!heroForm.form.valid" type="submit"
                 (click)="submitOrder()">
                Submit Order
              </button>
              </li>
            </ul>
          </div>
          <div class="col-md-7 col-lg-8">
            <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <div>
                <h4 class="mb-3">Billing address</h4>
                <button class="btn btn-warning btn-lg btn-autofill"  (click)="getCustomerInfo()" >Autofill form</button>
              </div>
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" id="bill.name"
                       [(ngModel)]="checkoutData.billingAddress.first_name"
                       required name="checkoutData.billingAddress.first_name" #name="ngModel"/>
                  <!-- <div [hidden]="name.valid || name.pristine" class="error"> Name is required </div> -->
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="bill.lastname" placeholder=""  [(ngModel)]="checkoutData.billingAddress.last_name"
                  required name="checkoutData.billingAddress.last_name" #lastname="ngModel"/>
                  <!-- <div [hidden]="lastname.valid || lastname.pristine" class="error"> Last Name is required </div> -->
                </div>

                <div class="col-sm-6">
                  <label for="phone" class="form-label">Phone number</label>
                  <input type="text" class="form-control" id="bill.phone1" placeholder=""  [(ngModel)]="checkoutData.billingAddress.phone"
                  required name="checkoutData.billingAddress.phone" #phone1="ngModel"/>
                  <!-- <div [hidden]="phone1.valid || phone1.pristine" class="error"> Phone is required </div> -->
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email </label>
                  <input type="email" class="form-control" id="bill.email" placeholder="you@example.com" [(ngModel)]="checkoutData.customerEmail"
                   name="checkoutData.customerEmail" #name="ngModel"/>

                </div>

                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="bill.address" placeholder="1234 Main St" [(ngModel)]="checkoutData.billingAddress.address1"
                  required name="checkoutData.billingAddress.address1" #name="ngModel"/>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
                </div>

                <div class="col-12">
                  <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                  <input type="text" class="form-control" id="bill.address2" placeholder="Apartment or suite" [(ngModel)]="checkoutData.billingAddress.address2"
                  name="checkoutData.billingAddress.address2"/>
                </div>

                <div class="col-md-4">
                  <label for="city1" class="form-label">City</label>
                  <input type="text" class="form-control" id="bill.city1" placeholder="City" [(ngModel)]="checkoutData.billingAddress.city"
                  required name="checkoutData.billingAddress.city" #name="ngModel"/>
                  <!-- <div class="invalid-feedback">State required.</div> -->
                </div>


                <div class="col-md-5">
                  <label for="country" class="form-label">Country</label>
                  <input class="form-control" id="bill.country" placeholder="Country" [(ngModel)]="checkoutData.billingAddress.country"
                  required name="ncheckoutData.billingAddress.countryame" #name="ngModel"/>
                  <div class="invalid-feedback">Country required.</div>
                </div>

                <div class="col-md-4">
                  <label for="state" class="form-label">State</label>
                  <input type="text" class="form-control" id="bill.state" placeholder="State" [(ngModel)]="checkoutData.billingAddress.state"
                  required name="checkoutData.billingAddress.state" #name="ngModel"/>
                  <div class="invalid-feedback">State required.</div>
                </div>

                <div class="col-md-3">
                  <label for="zip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="bill.zip" placeholder="" required="" [(ngModel)]="checkoutData.billingAddress.zip"
                  required name="name" #checkoutData.billingAddress.zip="ngModel"/>
                  <div class="invalid-feedback">Zip code required.</div>
                </div>
              </div>

              <hr class="my-4" />

              <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="same-address" (change)="billingAndShippingSame=!billingAndShippingSame"/>
                <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
              </div> -->

              <!--shipping address-->
              <div >
              <div class="row g-3">
                <h4 class="mb-3" >Shipping address</h4>

                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text" class="form-control" id="ship.firstName" placeholder=""  [(ngModel)]="checkoutData.shippingAddress.first_name"
                  required name="checkoutData.shippingAddress.first_name" #name="ngModel"/>

                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="ship.lastName" placeholder=""  [(ngModel)]="checkoutData.shippingAddress.last_name"
                  required name="checkoutData.shippingAddress.last_name" #name="ngModel"/>

                </div>

                <div class="col-sm-6">
                  <label for="phone" class="form-label">Phone number</label>
                  <input type="text" class="form-control" id="ship.phone" placeholder=""  [(ngModel)]="checkoutData.shippingAddress.phone"
                  required name="checkoutData.shippingAddress.phone" #phone="ngModel"/>
                  <!-- <div [hidden]="phone.valid || phone.pristine" class="error"> Phoner number is required </div> -->
                </div>

                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="ship.address" placeholder="1234 Main St" [(ngModel)]="checkoutData.shippingAddress.address1"
                  required name="checkoutData.shippingAddress.address1" #name="ngModel"/>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
                </div>

                <div class="col-12">
                  <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                  <input type="text" class="form-control" id="ship.address2" placeholder="Apartment or suite" [(ngModel)]="checkoutData.shippingAddress.address2"
                  name="checkoutData.shippingAddress.address2"/>
                </div>

                <div class="col-md-4">
                  <label for="city" class="form-label">City</label>
                  <input type="text" class="form-control" id="ship.city" placeholder="City" [(ngModel)]="checkoutData.shippingAddress.city"
                  required name="checkoutData.shippingAddress.city" #name="ngModel"/>
                  <div class="invalid-feedback">City required.</div>
                </div>


                <div class="col-md-5">
                  <label for="country" class="form-label">Country</label>
                  <input class="form-control" id="ship.country" placeholder="Country" [(ngModel)]="checkoutData.shippingAddress.country"
                  required name="checkoutData.shippingAddress.country" #name="ngModel"/>
                  <div class="invalid-feedback">Country required.</div>
                </div>

                <div class="col-md-4">
                  <label for="state" class="form-label">State</label>
                  <input type="text" class="form-control" id="ship.state" placeholder="State" [(ngModel)]="checkoutData.shippingAddress.state"
                  required name="checkoutData.shippingAddress.state" #name="ngModel"/>
                  <div class="invalid-feedback">State required.</div>
                </div>

                <div class="col-md-3">
                  <label for="zip" class="form-label">Zip</label>
                  <input type="text" class="form-control" id="ship.zip" placeholder="" required="" [(ngModel)]="checkoutData.shippingAddress.zip"
                  required name="checkoutData.shippingAddress.zip" #name="ngModel"/>
                  <div class="invalid-feedback">Zip code required.</div>
                </div>
              </div>
              </div>


              <hr class="my-4"/>

              <h4 class="mb-3">Payment</h4>

              <div class="my-3">
                <div class="form-check">
                  <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked=""
                    required="" />
                  <label class="form-check-label" for="credit">Credit card</label>
                </div>
                <div class="form-check">
                  <input id="debit" name="paymentMethod" type="radio" class="form-check-input" disabled required="" />
                  <label class="form-check-label" for="debit">Debit card</label>
                </div>
                <div class="form-check">
                  <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" disabled required="" />
                  <label class="form-check-label" for="paypal">PayPal</label>
                </div>
              </div>

              <div class="row gy-3">
                <div class="col-md-6">
                  <label for="cc-name" class="form-label">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder=""  [(ngModel)]="checkoutData.payment.ccNameOnCard"
                  required name="checkoutData.payment.ccNameOnCard" #name="ngModel"/>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">Name on card is required</div>
                </div>

                <div class="col-md-6">
                  <label for="cc-number" class="form-label">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" pplaceholder="0000 0000 0000 0000"  [(ngModel)]="checkoutData.payment.ccNumber"
                  required name="checkoutData.payment.ccNumber" #name="ngModel"/>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>

                <div class="col-md-3">
                  <label for="cc-expiration" class="form-label">Expiration</label>

                  <div class="input-group has-validation">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                    name="dp" [(ngModel)]="checkoutData.payment.ccExpiry" ngbDatepicker #d="ngbDatepicker"
                    required  #name="ngModel">
                    <span (click)="d.toggle()" class="input-group-text"><i class="fa fa-calendar">&nbsp;</i></span>
                    <div class="invalid-feedback">Expiration date required</div>
                </div>
                </div>

                <div class="col-md-3">
                  <label for="cc-cvv" class="form-label">CVV</label>
                  <input type="text" maxlength="3" class="form-control" id="cc-cvv" placeholder="" [(ngModel)]="checkoutData.payment.ccCvv"
                  required name="checkoutData.payment.ccCvv" #name="ngModel"/>
                  <div class="invalid-feedback">Security code required</div>
                </div>
              </div>

              <hr class="my-4" />
              <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
