<div class="card" *ngIf="recommendedProducts && pageViewType!=='homePage'">
  <div class="card-body">

    <ngb-carousel class="carousel-dark slide" >
      <ng-template ngbSlide *ngFor="let product of recommendedProducts">
        <div class="picsum-img-wrapper">
          <img class="img-responsive img-circle" src="../../assets/images/{{product.itemId}}.jpg"
          style=" height:200px; padding-left: 200px;">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h3>{{product.name}}</h3>
          <p>{{product.description}}</p>
          <p><a routerLink="/product-detail/{{product.itemId}}" class="btn btn-primary btn-sm">Check it out!</a></p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div> 
</div>



<div class="album py-5 bg-light" *ngIf="recommendedProducts && pageViewType==='homePage'">
  <div class="container">
    <h1 class="display-6">Featured </h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let product of recommendedProducts.slice(0,5)">
        <div class="card shadow-sm h-100">
           
          <img class="bd-placeholder-img card-img-top" src="../../assets/images/{{product.itemId}}.jpg" class="img-fluid" alt="{{product.name}}" 
                        style="cursor:pointer" width="100%" height="200" 
                        routerLink="/product-detail/{{product.itemId}}" role="img" aria-label="Placeholder: Thumbnail" 
                        preserveAspectRatio="xMidYMid slice" focusable="false">
            
          <div class="card-body d-flex flex-column">
            <h5 class="mt-auto" >{{product.name}}</h5>
            <div class="d-flex justify-content-between align-items-center mt-auto">
              <p class="card-text" style="font-size: 16px;">{{product.price | currency}}                
              </p>
              <a routerLink="/product-detail/{{product.itemId}}" class="btn btn-sm btn-secondary float-start">Check it out!</a>
              
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

 